* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font: 13px Helvetica, Arial;
}
form input {
	border: 0;
	padding: 10px;
	width: 80%;
	margin-right: .5%;
}
form button {
	width: 15%;
	background: rgb(130, 224, 255);
	border: none;
	padding: 10px;
}
#name-div, #welcome {
	background: #AAA;
	padding: 10px;
	width: 100%;
}
#input-div {
	background: #000;
	padding: 3px;
	position: fixed;
	bottom: 0;
	width: 100%;
}
#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#messages li {
	padding: 5px 10px;
}
#messages li:nth-child(odd) {
	background: #eee;
}
